<ul>
    <% @user.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
</ul>
<form action="/users" method="POST">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div class="form-group">
  <label for="username">User name:</label>
  <input type="text" id="username" name="username">
  </div>
  <div class="form-group">
  <label for="email">Email name:</label>
  <input type="email" id="email" name="email"> </div>
  <div class="form-group">
  <label for="password">Password name:</label>
  <input type="password" id="password" name="password">
  </div>
  <div class="form-group"> 
  <input type="submit" value="Create User">
  </div>
</form>